h1{

    color:rgb(9, 10, 75);
  }
 .header *{
    border:solid;
    Margin-left : 200px;
    Margin-right : 200px;
 }
 .header {
    display: flex;
    justify-content : space-between;
 }
 p,h2 {
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
 .item {
        display: flex;
        justify-content: space-between;
        background-color: rgb(3, 250, 209);
        padding: 15px;
        color: rgb(25, 0, 168);
}
body{
    margin: 0px;
    background-color:#66b6eb;
    
}